<Menu>
	<level-1 iconurl_a="icons 1/立案服务.png" iconurl_b="icons 2/立案服务选中.png" url="Res/立案服务区" >	   
	    <level-2 label="立案登记制" ismany="false">	
		     <content label="1、登记立案若干问题的规定" url="Res/立案服务区/立案登记制/1、登记立案若干问题的规定.txt" title="1、登记立案若干问题的规定"></content>
			 <content label="2、推行立案登记制改革的意见" url="Res/立案服务区/立案登记制/2、推行立案登记制改革的意见.txt" title="2、推行立案登记制改革的意见"></content>
			 <content label="4、立案登记互动问答" url="Res/立案服务区/立案登记制/4、立案登记互动问答.txt" title="4、立案登记互动问答"></content>
		</level-2>
		<level-2 label="立案登记流程" ismany="false">	
		     <content label="3、民事案件登记立案流程" url="Res/立案服务区/立案登记流程/3、民事案件登记立案流程.txt" title="3、民事案件登记立案流程"></content>
			 <content label="4、书写起诉状须知" url="Res/立案服务区/立案登记流程/4、  书写起诉状须知.txt" title="4、  书写起诉状须知"></content>
			 <content label="5、司法救助程序和条件" url="Res/立案服务区/立案登记流程/5、  司法救助程序和条件.txt" title="5、  司法救助程序和条件"></content>
			 <content label="6、诉讼费用交纳办法" url="Res/立案服务区/立案登记流程/6、  诉讼费用交纳办法.txt" title="6、  诉讼费用交纳办法"></content>
			 <content label="9、行政案件登记立案流程" url="Res/立案服务区/立案登记流程/9、  行政案件登记立案流程.txt" title="9、  行政案件登记立案流程"></content>
			 <content label="10、刑事自诉案件登记立案流程" url="Res/立案服务区/立案登记流程/10、刑事自诉案件登记立案流程.txt" title="10、刑事自诉案件登记立案流程"></content>
			 <content label="17、各种诉讼起诉申请条件及提交材料清单" url="Res/立案服务区/立案登记流程/17、各种诉讼起诉申请条件及提交材料清单.txt" title="17、各种诉讼起诉申请条件及提交材料清单"></content>		
		</level-2>		
		<level-2 label="网上立案" ismany="false">	
		     <content label="1、网上立案介绍" url="Res/立案服务区/网上立案/1、网上立案介绍.txt" title="1、网上立案介绍"></content>
			 <content label="2、什么是“网上立案”？" url="Res/立案服务区/网上立案/2、什么是“网上立案”？.txt" title="2、什么是“网上立案”？"></content>
			 <content label="3、哪些案件可以申请网上立案？" url="Res/立案服务区/网上立案/3、哪些案件可以申请网上立案？.txt" title="3、哪些案件可以申请网上立案？"></content>
			 <content label="4、如何选择法院申请网上立案？" url="Res/立案服务区/网上立案/4、如何选择法院申请网上立案？.txt" title="4、如何选择法院申请网上立案？"></content>
			 <content label="5、12368诉讼服务热线简介" url="Res/立案服务区/网上立案/5、12368诉讼服务热线简介.txt" title="5、12368诉讼服务热线简介"></content>
		</level-2>
		<level-2 label="诉讼服务中心简介"  url="Res/立案服务区/利辛法院诉讼服务中心功能区介绍.txt" title="利辛法院诉讼服务中心功能区介绍" ismany="false">			 	
		</level-2>	
		
	</level-1>
	
	<level-1 iconurl_a="icons 1/审判服务.png" iconurl_b="icons 2/审判服务选中.png" url="Res/审判服务区">	
	    
		<level-2 label="刑事案件" ismany="false">
          <content label="11、刑事诉讼流程图" url="Res/审判服务区/刑事案件/11、刑事诉讼流程图.png" title="11、刑事诉讼流程图"></content>
		  <content label="13、刑事案件管辖规定" url="Res/审判服务区/刑事案件/13、刑事案件管辖规定.txt" title="13、刑事案件管辖规定"></content>  
		</level-2>
		
		<level-2 label="庭审须知" ismany="false">
          <content label="1、诉讼风险须知" url="Res/审判服务区/庭审须知/1、  诉讼风险须知.txt" title="1、  诉讼风险须知"></content>	
		  <content label="2、庭审注意事项" url="Res/审判服务区/庭审须知/2、庭审注意事项.txt" title="2、庭审注意事项"></content>
		  <content label="3、民事诉讼法关于开庭审理的规定" url="Res/审判服务区/庭审须知/3、民事诉讼法关于开庭审理的规定.txt" title="3、民事诉讼法关于开庭审理的规定"></content>
		  <content label="4、直播录播庭审活动的规定" url="Res/审判服务区/庭审须知/4、直播录播庭审活动的规定.txt" title="4、直播录播庭审活动的规定"></content>
		  <content label="21公民旁听案件注意事项" url="Res/审判服务区/庭审须知/21公民旁听案件注意事项.txt" title="21公民旁听案件注意事项"></content>
		</level-2>
		
        <level-2 label="民、商事案件" ismany="false">
          <content label="2、举证须知" url="Res/审判服务区/民、商事案件/2、  举证须知.txt" title="2、  举证须知"></content>
		  <content label="3、诉讼时效和主要诉讼期间" url="Res/审判服务区/民、商事案件/3、  诉讼时效和主要诉讼期间.txt" title="3、  诉讼时效和主要诉讼期间"></content>
		  <content label="3、民事诉讼法关于开庭审理的规定" url="Res/审判服务区/民、商事案件/3、民事诉讼法关于开庭审理的规定.txt" title="3、民事诉讼法关于开庭审理的规定"></content>
		  <content label="8、民事诉讼流程图" url="Res/审判服务区/民、商事案件/8、  民事诉讼流程图.png" title="8、  民事诉讼流程图"></content>
		  <content label="12、民商事案件管辖规定" url="Res/审判服务区/民、商事案件/12、民商事案件管辖规定.txt" title="12、民商事案件管辖规定"></content>
		  <content label="18当事人民事诉讼权利和义务" url="Res/审判服务区/民、商事案件/18当事人民事诉讼权利和义务.txt" title="18当事人民事诉讼权利和义务"></content>
		  <content label="26民事案件申请再审告知" url="Res/审判服务区/民、商事案件/26民事案件申请再审告知.txt" title="26民事案件申请再审告知"></content>
		  <content label="27诉讼期间须知" url="Res/审判服务区/民、商事案件/27诉讼期间须知.txt" title="27诉讼期间须知"></content>
		</level-2>
		
		<level-2 label="行政案件" ismany="false">
          <content label="1.行政诉讼受案范围" url="Res/审判服务区/行政案件/1.行政诉讼受案范围.txt" title="1.行政诉讼受案范围"></content>
		  <content label="2.行政诉讼起诉期限" url="Res/审判服务区/行政案件/2.行政诉讼起诉期限.txt" title="2.行政诉讼起诉期限"></content>
		  <content label="3.行政诉讼被告的确定" url="Res/审判服务区/行政案件/3.行政诉讼被告的确定.txt" title="3.行政诉讼被告的确定"></content>
		  <content label="4.行政诉讼审理期限" url="Res/审判服务区/行政案件/4.行政诉讼审理期限.txt" title="4.行政诉讼审理期限"></content>
		  <content label="5.管辖规定" url="Res/审判服务区/行政案件/5.管辖规定.txt" title="5.管辖规定"></content>
		  <content label="14、行政案件管辖规定" url="Res/审判服务区/行政案件/14、行政案件管辖规定.txt" title="14、行政案件管辖规定"></content>
		  <content label="23行政案件申诉告知" url="Res/审判服务区/行政案件/23行政案件申诉告知.txt" title="23行政案件申诉告知"></content>
		</level-2>
						
	</level-1>
	
	<level-1 iconurl_a="icons 1/执行服务.png" iconurl_b="icons 2/执行服务选中.png" url="Res/执行服务区">
	    <level-2 label="执行案件管辖规定"  ismany="false">
          <content label="15、执行案件管辖规定" url="Res/执行服务区/执行案件管辖规定/15、执行案件管辖规定.txt" title="15、执行案件管辖规定"></content>
		   		  		  	  
		</level-2>
		<level-2 label="执行流程规定"  ismany="false">
          <content label="利辛法院执行局执行案件流程图" url="Res/执行服务区/执行流程规定/执行流程.png" title="利辛法院执行局执行案件流程图"></content>		  		  	  
		</level-2>
		<level-2 label="执行规章制度"  ismany="false">
          <content label="1、执行异议和复议案件若干问题的规定" url="Res/执行服务区/执行规章制度/1、执行异议和复议案件若干问题的规定.txt" title="1、执行异议和复议案件若干问题的规定"></content>
		  <content label="2、执行案件立案结案若干问题的意见的通知" url="Res/执行服务区/执行规章制度/2、执行案件立案结案若干问题的意见的通知.txt" title="2、执行案件立案结案若干问题的意见的通知"></content>
		  <content label="3、限制被执行人高消费及有关消费的若干规定" url="Res/执行服务区/执行规章制度/3、限制被执行人高消费及有关消费的若干规定.txt" title="3、限制被执行人高消费及有关消费的若干规定"></content>
		  <content label="4、审理拒不执行判决裁定刑事案件适用法律若干问题的解释" url="Res/执行服务区/执行规章制度/4、审理拒不执行判决裁定刑事案件适用法律若干问题的解释.txt" title="4、审理拒不执行判决裁定刑事案件适用法律若干问题的解释"></content>
		  <content label="利辛法院执行工作管理规定" title="利辛法院执行工作管理规定">
		     <manytxt url="Res/执行服务区/执行规章制度/利辛法院执行工作管理规定1.txt"></manytxt>
			 <manytxt url="Res/执行服务区/执行规章制度/利辛法院执行工作管理规定2.txt"></manytxt>
		  </content>		  
		</level-2>
		
	    <level-2 label="风险告知"  ismany="false">
          <content label="执 行 风 险 告 知 书" url="Res/执行服务区/风险告知/执 行 风 险 告 知 书.txt" title="执 行 风 险 告 知 书"></content>		 
		</level-2>			
	</level-1>
	
	<level-1 iconurl_a="icons 1/调解服务.png" iconurl_b="icons 2/调解服务选中.png" url="Res/调解服务区">	 
	    <level-2 label="多元化解流程"  ismany="false">
          <content label="矛盾纠纷多元化解工作流程" url="Res/调解服务区/多元化解流程/矛盾纠纷多元化解工作流程.txt" title="矛盾纠纷多元化解工作流程"></content>		 
		</level-2>
		<level-2 label="工作纪实"  ismany="false">
          <content url="Res/调解服务区/工作纪实/工作纪实.png"></content>
		  	  
		</level-2>
		
		<level-2 label="利辛县人民法院特邀调解员名单"  ismany="false">
          <content label="利辛县人民法院特邀调解员名单"  title="利辛县人民法院特邀调解员名单">
		     <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/1_01.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/1_02.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/2_01.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/2_02.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/3_01.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/3_02.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/4_01.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/4_02.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/5_01.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/5_02.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/6_01.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/6_02.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/7_01.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/7_02.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/8_01.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/8_02.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/9_01.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/9_02.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/10_01.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/10_02.png"></manypic>
			 <manypic url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织1/BG_06.png"></manypic>
		  </content>
		  <content label="特邀调解员级特邀调解组" url="Res/调解服务区/特邀调解员级特邀调解组/特邀组织2.png" title="特邀调解员级特邀调解组"></content>
		</level-2>
		
		<level-2 label="矛盾纠纷多元化解机制相关制度"  ismany="false">
          <content label="亳州中院完善矛盾纠纷多元化解机制意见" url="Res/调解服务区/矛盾纠纷多元化解机制相关制度/亳州中院完善矛盾纠纷多元化解机制意见.txt" title="亳州中院完善矛盾纠纷多元化解机制意见"></content>	
		  <content label="全省法院进一步完善矛盾纠纷多元化解机制工作意见" url="Res/调解服务区/矛盾纠纷多元化解机制相关制度/全省法院进一步完善矛盾纠纷多元化解机制工作意见.txt" title="全省法院进一步完善矛盾纠纷多元化解机制工作意见"></content>	
		  <content label="最高人民法院" url="Res/调解服务区/矛盾纠纷多元化解机制相关制度/最高人民法院.txt" title="最高人民法院"></content>	
		</level-2>
	</level-1>
	
	<level-1 iconurl_a="icons 1/信访服务.png" iconurl_b="icons 2/信访服务选中.png" url="Res/信访服务区">	   
		 <level-2 label="信访制度"  ismany="false">
          <content label="律师代理申诉" url="Res/信访服务区/信访制度/律师代理申诉.txt" title="律师代理申诉"></content>
		  <content label="涉诉信访接待及处理规程" url="Res/信访服务区/信访制度/涉诉信访接待及处理规程.txt" title="涉诉信访接待及处理规程"></content>
		  <content label="申诉和申请再审审查规则" url="Res/信访服务区/信访制度/申诉和申请再审审查规则.txt" title="申诉和申请再审审查规则"></content>
		  <content label="远程视频接访规则" url="Res/信访服务区/信访制度/远程视频接访规则.txt" title="远程视频接访规则"></content>
		</level-2>
		
		<level-2 label="信访流程图"  ismany="false">
          <content label="信访工作流程图" url="Res/信访服务区/信访流程图/信访流程图.png" title="信访工作流程图"></content>		  
		</level-2>
		<level-2 label="来访须知"  ismany="false">
          <content label="利辛县人民法院来访须知" url="Res/信访服务区/来访须知/利辛县人民法院来访须知.txt" title="利辛县人民法院来访须知"></content>		  
		</level-2>
	</level-1>
	
	<level-1 iconurl_a="icons 1/纪检监察.png" iconurl_b="icons 2/纪检监察选中.png"  url="Res/纪检监察区">	   	
	    	
		<level-2 label="工作简介"  ismany="false">
          <content label="纪检组人员照片" url="Res/纪检监察区/工作简介/纪检组照片.png" title="纪检组人员照片"></content>
		  <content label="举报中心" url="Res/纪检监察区/工作简介/举报中心.txt" title="举报中心"></content>
		  <content label="纪检监察室岗位职责" url="Res/纪检监察区/工作简介/纪检监察室岗位职责.txt" title="纪检监察室岗位职责"></content>
		</level-2>
		
		<level-2 label="民主监督"  ismany="true">
          <content label="图片" url="Res/纪检监察区/民主监督/民主监督图片1.png" title="图片"></content>
		  <content label="图片" url="Res/纪检监察区/民主监督/民主监督图片2.png" title="图片"></content>
		</level-2>
		
		<level-2 label="相关规定"  ismany="false">
          <content label="“五个严禁”中华人民共和国最高人民法院" url="Res/纪检监察区/相关规定/“五个严禁”中华人民共和国最高人民法院.txt" title="“五个严禁”中华人民共和国最高人民法院"></content>
		  <content label="“八不准”最高人民法院关于法院干警的“八不准”" url="Res/纪检监察区/相关规定/“八不准”最高人民法院关于法院干警的“八不准”.txt" title="“八不准”最高人民法院关于法院干警的“八不准”"></content>
		  <content label="“四条禁令“中央政法委“四条禁令" url="Res/纪检监察区/相关规定/“四条禁令“中央政法委“四条禁令.txt" title="“四条禁令“中央政法委“四条禁令"></content>
		  <content label="人民法院落实《司法机关内部人员过问案件的记录和责任追究规定》的实施办法" url="Res/纪检监察区/相关规定/人民法院落实《司法机关内部人员过问案件的记录和责任追究规定》的实施办法.txt" title="人民法院落实《司法机关内部人员过问案件的记录和责任追究规定》的实施办法"></content>
		  <content label="领导干部干预案件的规定" url="Res/纪检监察区/相关规定/领导干部干预案件的规定.txt" title="领导干部干预案件的规定"></content>
		</level-2>
	 </level-1>
	 
	 <level-1 iconurl_a="icons 1/法官介绍.png" iconurl_b="icons 2/法官介绍选中.png"  url="Res/法官介绍">	   	
	    <level-2 label="法官介绍" title="法官介绍" ismany="true">
		    <content url="Res/法官介绍/1_01.png"></content>
			<content url="Res/法官介绍/1_02.png"></content>
			<content url="Res/法官介绍/2_01.png"></content>
			<content url="Res/法官介绍/2_02.png"></content>
			<content url="Res/法官介绍/3_01.png"></content>
			<content url="Res/法官介绍/3_02.png"></content>
			<content url="Res/法官介绍/4_01.png"></content>
			<content url="Res/法官介绍/4_02.png"></content>
			<content url="Res/法官介绍/5_01.png"></content>
			<content url="Res/法官介绍/5_02.png"></content>
			<content url="Res/法官介绍/6_01.png"></content>
			<content url="Res/法官介绍/6_02.png"></content>
			<content url="Res/法官介绍/7_01.png"></content>
			<content url="Res/法官介绍/7_02.png"></content>
			<content url="Res/法官介绍/8_01.png"></content>
			<content url="Res/法官介绍/8_02.png"></content>
			<content url="Res/法官介绍/9_01.png"></content>
			<content url="Res/法官介绍/9_02.png"></content>
			<content url="Res/法官介绍/10_01.png"></content>
			<content url="Res/法官介绍/10_02.png"></content>
			<content url="Res/法官介绍/11_01.png"></content>
			<content url="Res/法官介绍/11_02.png"></content>
			<content url="Res/法官介绍/12_01.png"></content>
			<content url="Res/法官介绍/12_02.png"></content>
			<content url="Res/法官介绍/13_01.png"></content>
			<content url="Res/法官介绍/13_02.png"></content>
			<content url="Res/法官介绍/14_01.png"></content>
			<content url="Res/法官介绍/14_02.png"></content>
			<content url="Res/法官介绍/15_01.png"></content>
			<content url="Res/法官介绍/15_02.png"></content>
			<content url="Res/法官介绍/16_01.png"></content>
			<content url="Res/法官介绍/16_02.png"></content>
			<content url="Res/法官介绍/17_01.png"></content>
			<content url="Res/法官介绍/17_02.png"></content>
			<content url="Res/法官介绍/18_01.png"></content>
			<content url="Res/法官介绍/18_02.png"></content>
		</level-2>	
	 </level-1>
	 
	 <level-1 iconurl_a="icons 1/法律法规.png" iconurl_b="icons 2/法律法规选中.png"  url="Res/法律法规">	   	
	    <level-2 label="行政法律法规"  ismany="false">
          <content label="中华人民共和国国家赔偿法" url="Res/法律法规/行政法律法规/中华人民共和国国家赔偿法.txt" title="中华人民共和国国家赔偿法"></content>
		  <content label="中华人民共和国行政诉讼法" url="Res/法律法规/行政法律法规/中华人民共和国行政诉讼法.txt" title="中华人民共和国行政诉讼法"></content>
		  <content label="最高人民法院关于适用" url="Res/法律法规/行政法律法规/最高人民法院关于适用.txt" title="最高人民法院关于适用"></content>
		</level-2>
		<level-2 label="民、商事法律法规"  ismany="false">
          <content label="中华人民共和国侵权责任法" url="Res/法律法规/民、商事法律法规/中华人民共和国侵权责任法.txt" title="中华人民共和国侵权责任法"></content>
		  <content label="中华人民共和国公司法"  title="中华人民共和国公司法">
		     <manytxt url="Res/法律法规/民、商事法律法规/中华人民共和国公司法1.txt"></manytxt>
			 <manytxt url="Res/法律法规/民、商事法律法规/中华人民共和国公司法2.txt"></manytxt>
		  </content>
		  <content label="中华人民共和国农村土地承包法" url="Res/法律法规/民、商事法律法规/中华人民共和国农村土地承包法.txt" title="中华人民共和国农村土地承包法"></content>
		  <content label="中华人民共和国劳动法" url="Res/法律法规/民、商事法律法规/中华人民共和国劳动法.txt" title="中华人民共和国劳动法"></content>
		  <content label="中华人民共和国反家庭暴力法" url="Res/法律法规/民、商事法律法规/中华人民共和国反家庭暴力法.txt" title="中华人民共和国反家庭暴力法"></content>
		  <content label="中华人民共和国合同法"  title="中华人民共和国合同法">
		     <manytxt url="Res/法律法规/民、商事法律法规/中华人民共和国合同法1.txt"></manytxt>
			 <manytxt url="Res/法律法规/民、商事法律法规/中华人民共和国合同法2.txt"></manytxt>
			 <manytxt url="Res/法律法规/民、商事法律法规/中华人民共和国合同法3.txt"></manytxt>
		  </content>
		  <content label="中华人民共和国婚姻法" url="Res/法律法规/民、商事法律法规/中华人民共和国婚姻法.txt" title="中华人民共和国婚姻法"></content>
		  <content label="中华人民共和国担保法" url="Res/法律法规/民、商事法律法规/中华人民共和国担保法.txt" title="中华人民共和国担保法"></content>
		  <content label="中华人民共和国民法通则" url="Res/法律法规/民、商事法律法规/中华人民共和国民法通则.txt" title="中华人民共和国民法通则"></content>
		  <content label="最高人民法院关于审理道路交通事故损害赔偿案件适用法律若干问题的解释" url="Res/法律法规/民、商事法律法规/最高人民法院关于审理道路交通事故损害赔偿案件适用法律若干问题的解释.txt" title="最高人民法院关于审理道路交通事故损害赔偿案件适用法律若干问题的解释"></content>
		  <content label="最高人民法院关于民间借贷" url="Res/法律法规/民、商事法律法规/最高人民法院关于民间借贷.txt" title="最高人民法院关于民间借贷"></content>
		  <content label="最高人民法院关于贯彻执行"  title="最高人民法院关于贯彻执行">
		     <manytxt url="Res/法律法规/民、商事法律法规/最高人民法院关于贯彻执行1.txt"></manytxt>
			 <manytxt url="Res/法律法规/民、商事法律法规/最高人民法院关于贯彻执行2.txt"></manytxt>
		  </content>
		  <content label="最高人民法院关于适用"  title="最高人民法院关于适用">
		     <manytxt url="Res/法律法规/民、商事法律法规/最高人民法院关于适用1.txt"></manytxt>
			 <manytxt url="Res/法律法规/民、商事法律法规/最高人民法院关于适用2.txt"></manytxt>
			 <manytxt url="Res/法律法规/民、商事法律法规/最高人民法院关于适用3.txt"></manytxt>
			 <manytxt url="Res/法律法规/民、商事法律法规/最高人民法院关于适用3.5.txt"></manytxt>
			 <manytxt url="Res/法律法规/民、商事法律法规/最高人民法院关于适用4.txt"></manytxt>
			 <manytxt url="Res/法律法规/民、商事法律法规/最高人民法院关于适用4.5.txt"></manytxt>
		  </content>
		  <content label="最高人民法院物权法解释" url="Res/法律法规/民、商事法律法规/最高人民法院物权法解释.txt" title="最高人民法院物权法解释"></content>
		</level-2>
		<level-2 label="刑事法律法规"  ismany="false">
          <content label="中华人民共和国刑事诉讼法"  title="中华人民共和国刑事诉讼法">
		     <manytxt url="Res/法律法规/刑事法律法规/中华人民共和国刑事诉讼法1.txt"></manytxt>
			 <manytxt url="Res/法律法规/刑事法律法规/中华人民共和国刑事诉讼法2.txt"></manytxt>
			 <manytxt url="Res/法律法规/刑事法律法规/中华人民共和国刑事诉讼法3.txt"></manytxt>
		  </content>
		  <content label="中华人民共和国刑法"  title="中华人民共和国刑法">
		     <manytxt url="Res/法律法规/刑事法律法规/中华人民共和国刑法1.txt"></manytxt>
			 <manytxt url="Res/法律法规/刑事法律法规/中华人民共和国刑法2.txt"></manytxt>
			 <manytxt url="Res/法律法规/刑事法律法规/中华人民共和国刑法3.txt"></manytxt>
			 <manytxt url="Res/法律法规/刑事法律法规/中华人民共和国刑法3.5.txt"></manytxt>
			 <manytxt url="Res/法律法规/刑事法律法规/中华人民共和国刑法4.txt"></manytxt>
			 <manytxt url="Res/法律法规/刑事法律法规/中华人民共和国刑法4.5.txt"></manytxt>
			 <manytxt url="Res/法律法规/刑事法律法规/中华人民共和国刑法5.txt"></manytxt>
		  </content>
		  <content label="中华人民共和国刑法修正案一" url="Res/法律法规/刑事法律法规/中华人民共和国刑法修正案一.txt" title="中华人民共和国刑法修正案一"></content>
		  <content label="中华人民共和国刑法修正案二" url="Res/法律法规/刑事法律法规/中华人民共和国刑法修正案二.txt" title="中华人民共和国刑法修正案二"></content>
		  <content label="中华人民共和国刑法修正案三" url="Res/法律法规/刑事法律法规/中华人民共和国刑法修正案三.txt" title="中华人民共和国刑法修正案三"></content>
		  <content label="中华人民共和国刑法修正案四" url="Res/法律法规/刑事法律法规/中华人民共和国刑法修正案四.txt" title="中华人民共和国刑法修正案四"></content>
		  <content label="中华人民共和国刑法修正案五" url="Res/法律法规/刑事法律法规/中华人民共和国刑法修正案五.txt" title="中华人民共和国刑法修正案五"></content>
		  <content label="中华人民共和国刑法修正案六" url="Res/法律法规/刑事法律法规/中华人民共和国刑法修正案六.txt" title="中华人民共和国刑法修正案六"></content>
		  <content label="中华人民共和国刑法修正案七" url="Res/法律法规/刑事法律法规/中华人民共和国刑法修正案七.txt" title="中华人民共和国刑法修正案七"></content>
		  <content label="中华人民共和国刑法修正案八" url="Res/法律法规/刑事法律法规/中华人民共和国刑法修正案八.txt" title="中华人民共和国刑法修正案八"></content>
		  <content label="中华人民共和国刑法修正案九" url="Res/法律法规/刑事法律法规/中华人民共和国刑法修正案九.txt" title="中华人民共和国刑法修正案九"></content>
		</level-2>
		<level-2 label="其它"  ismany="false">
          <content label="中华人民共和国人民法院法庭规则" url="Res/法律法规/其它/中华人民共和国人民法院法庭规则.txt" title="中华人民共和国人民法院法庭规则"></content>
		  <content label="关于调整高级人民法院和中级人民法院管辖第一审民商事案件标准的通知" url="Res/法律法规/其它/关于调整高级人民法院和中级人民法院管辖第一审民商事案件标准的通知.txt" title="关于调整高级人民法院和中级人民法院管辖第一审民商事案件标准的通知"></content>
		  <content label="最高人民法院关于对经济确有困难的当事人予以司法救助的规定" url="Res/法律法规/其它/最高人民法院关于对经济确有困难的当事人予以司法救助的规定.txt" title="最高人民法院关于对经济确有困难的当事人予以司法救助的规定"></content>
		  <content label="最高人民法院关于进一步加强司法便民工作的若干意见" url="Res/法律法规/其它/最高人民法院关于进一步加强司法便民工作的若干意见.txt" title="最高人民法院关于进一步加强司法便民工作的若干意见"></content>
		</level-2>
	 </level-1>
	 
	 <level-1 iconurl_a="icons 1/诉讼文书.png" iconurl_b="icons 2/诉讼文书选中.png"  url="Res/诉讼文书">	   	
	    <level-2 label="刑事自诉起诉状" url="Res/诉讼文书/刑事自诉起诉状.txt" title="刑事自诉起诉状" ismany="false">		
		</level-2>
		<level-2 label="委托授权书诉讼阶段" url="Res/诉讼文书/委托授权书诉讼阶段.txt" title="委托授权书诉讼阶段" ismany="false">		
		</level-2>
		<level-2 label="抚养诉状" url="Res/诉讼文书/抚养诉状.txt" title="抚养诉状" ismany="false">		
		</level-2>
		<level-2 label="支付令申请书" url="Res/诉讼文书/支付令申请书.txt" title="支付令申请书" ismany="false">		
		</level-2>
		<level-2 label="民事诉状—劳动争议" url="Res/诉讼文书/民事诉状—劳动争议.txt" title="民事诉状—劳动争议" ismany="false">		
		</level-2>
		<level-2 label="民事诉状—损害赔偿" url="Res/诉讼文书/民事诉状—损害赔偿.txt" title="民事诉状—损害赔偿" ismany="false">		
		</level-2>
		<level-2 label="民事诉状—民间借贷" url="Res/诉讼文书/民事诉状—民间借贷.txt" title="民事诉状—民间借贷" ismany="false">		
		</level-2>
		<level-2 label="民事诉状—离婚纠纷" url="Res/诉讼文书/民事诉状—离婚纠纷.txt" title="民事诉状—离婚纠纷" ismany="false">		
		</level-2>
		<level-2 label="民事诉状—道路交通事故" url="Res/诉讼文书/民事诉状—道路交通事故.txt" title="民事诉状—道路交通事故" ismany="false">		
		</level-2>
		<level-2 label="缓交诉讼费申请书" url="Res/诉讼文书/缓交诉讼费申请书.txt" title="缓交诉讼费申请书" ismany="false">		
		</level-2>
		<level-2 label="行政起诉状" url="Res/诉讼文书/行政起诉状.txt" title="行政起诉状" ismany="false">		
		</level-2>
		<level-2 label="财产保全申请书" url="Res/诉讼文书/财产保全申请书.txt" title="财产保全申请书" ismany="false">		
		</level-2>
		
	 </level-1>
	 
  
	
</Menu>